<h1>Questions#index</h1>
<form action="some_action" method="GET">
  firstname: <input name="firstname" type="text"><br>
  lasttname: <input name="lastname" type="text"><br>
  password: <input name="userpass" type="password"><br>
  <input type="submit" value="Register">
</form>
